.form-container {
    margin-top: 7%;
    text-align: center;
}

li {
    list-style-type: none;
}

form {
    color: black;
}

input {
    width: 30%;
    height: 30px;
    margin-bottom: 1%;
}

input[type="submit"] {
    width: 20%;
    margin-top: -6%;
    border: none;
    font-size: 20px;
    font-family: 'Koulen', cursive;
    font-weight: normal;
    background-color: #F8F4FF;
    color: lightcoral;
    cursor: pointer;
}

input[type="submit"]:hover {
    font-weight: bold;
}

input[type="submit"]:active {
    color: grey;
}