
.container {
    border: 2px solid #F8F4FF;
    align-items: center;
    margin: 15%;
}

.form-container {
    border: 2px solid #F8F4FF;
    margin: 10%;
    text-align: center;
}

form {
    color: black;
}

input {
    width: 30%;
    height: 30px;
    margin-bottom: 1%;
}

input[type="submit"] {
    width: 20%;
    margin-top: -6%;
    border: none;
    font-size: 20px;
    font-family: 'Koulen', cursive;
    font-weight: normal;
    background-color: #F8F4FF;
    color: lightcoral;
    cursor: pointer;
}

input[type="submit"]:hover {
    font-weight: bold;
}

input[type="submit"]:active {
    color: grey;
}

ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}